rumps
pynput
pyobjc
requests
py2app
macholib
altgraph
modulegraph
setuptools<81
mss
Pillow
pyobjc-framework-Vision
pyobjc-framework-AppKit
pyobjc-framework-Foundation
pyobjc-framework-Quartz
charset_normalizer
